[main]
ICAT_URL: https://myicaturl:8181/
TOPCAT_URL: https://mytopcaturl:8181/
IDS_URL: https://myidsurl:8181/

# operational account to access TopCAT admin interface
ICAT_USER: pollcat
ICAT_PASSWD: pollcatpassword

# timeout for getDatafileIds request
DATAFILEIDS_TIMEOUT: 30

# number of datafileIds to pass to getStatus in one go
STATUS_CHUNKS: 200

# delay in seconds to check TopCAT for new download requests
DELAY: 10

# plugin name (globus, scarf)
PLUGIN_NAME: globus
