[scarf]

LDAP_URL : ldap://homer.esc.rl.ac.uk
LDAP_USER : ldap_user_name
LDAP_PASSWORD : ldap_user_password
LDAP_TIMEOUT : 10.0
LDAP_BASE_USER_DN : ou=People,o=hpc,dc=rl,dc=ac,dc=uk
LDAP_BASE_GRP_DN : ou=Groups,o=hpc,dc=rl,dc=ac,dc=uk
LDAP_USER_PREFIX : fac
#please no space after the , separator
LDAP_USER_ATTRS : objectClass,uid,description
LDAP_GPR_ATTRS : CN, memberUid
LDAP_ADD_OU : ou=facilityUsers,
LDAP_ADD_USER_ID_ATTR : uidNumber
LDAP_ADD_GRP_ID_ATTR : gidNumber
#please no space after the , separator
LDAP_ADD_USER_DESC : cluster:gpu,cluster:scarf


#data host, same for the IDS application
#DATA_HOST : dls-ids01.scarf.stfc.ac.uk
# where the IDS stores datafiles
DATA_SOURCE : /data/ids/datafiles
# the location of dls folder in the form of /dls/<beamline>/data/<year>/<visit-id>/*/<datafile_name>
DATA_DESTINATION : /dls
# number of files to transfer at one go
LOCATION_CHUNKS : 200