[scarf]

LDAP_URL : ldap://example.com
LDAP_USER : someuser
LDAP_PASSWORD : goodpassword
LDAPTLS_CACERTDIR : /some/dir
LDAP_TIMEOUT : 10
LDAP_BASE_USER_DN : ou=People,o=example,dc=com
LDAP_BASE_GRP_DN : ou=Groups,o=example,dc=com
LDAP_USER_PREFIX : pre
#please no space after the , separator
LDAP_USER_ATTRS : objectClass,uid,description
LDAP_GPR_ATTRS : cn,gidNumber,memberUid
LDAP_ADD_OU : ou=ou,
LDAP_ADD_USER_ID_ATTR : number
LDAP_ADD_GRP_ID_ATTR : number
#please no space after the , separator
LDAP_ADD_USER_DESC : cluster:gpu,cluster:scarf
LDAP_USER_HOME_DIR : /some/dir
LDAP_DLS_GID : 000001

LSF_PARENT_GRP : parent
LSF_GRP_PREFIX : parent_

OS_DLS_GRP : parent
OS_DLS_DEFUSER : dfuser


#data host, same for the IDS application
#DATA_HOST : some.host.org
# where the IDS stores datafiles
DATA_SOURCE : /root/syc-pollcat
# the location of dls folder in the form of <parentPath>/<beamline>/data/<year>/<visit-id>/*/<datafile_name>
# enter parent path preceding /<beamline>
DATA_DESTINATION : /home/shirley/dls
